@import "tailwindcss";

@theme {

  --color-primary: #5776A7;
  --color-secondary: #F1BF00;
  --color-background: #F9FAFB;
  --color-background-alternative: #DDE2E8;
  --color-secondary-background: #FFFFFF;
  --color-primary-text: #333333;
  --color-secondary-text: #6B7280;
  --color-highlight: #1D4ED8;

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5776A7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a6690;
}